/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

/* BODY */

body{
background:#f5f5f5;
}

/* LAYOUT */

.layout{
display:flex;
min-height:100vh;
}

/* SIDEBAR */

.sidebar{
width:250px;
background:linear-gradient(to bottom,#0d4fe3,#3c73ff);
padding:30px 25px;
display:flex;
flex-direction:column;
justify-content:space-between;
color:white;
}

.sidebar-top{
display:flex;
flex-direction:column;
align-items:center;
}

.logo{
width:70px;
margin-bottom:10px;
}

.sidebar h2{
font-size:20px;
margin-bottom:50px;
}

.menu{
width:100%;
display:flex;
flex-direction:column;
gap:15px;
}

.menu a{
text-decoration:none;
color:white;
padding:14px 18px;
border-radius:12px;
font-size:18px;
font-weight:600;
transition:0.3s;
}

.menu a:hover{
background:rgba(255,255,255,0.15);
}

.menu .active{
background:rgba(255,255,255,0.18);
border-left:4px solid #8fff6b;
}

/* LOGOUT */

.logout-btn{
text-decoration:none;
background:#dbe2ff;
color:#1c1c1c;
padding:15px;
border-radius:18px;
text-align:center;
font-weight:600;
}

/* MAIN CONTENT */

.main-content{
flex:1;
padding:30px 40px;
}

/* TOPBAR */

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}

.search-box input{
width:430px;
padding:14px 18px;
border:none;
border-radius:12px;
background:#eef1f5;
outline:none;
font-size:15px;
}

.top-icons{
display:flex;
align-items:center;
gap:20px;
}

.notification{
width:22px;
height:22px;
border-radius:50%;
border:2px solid black;
position:relative;
}

.notification::after{
content:"";
width:8px;
height:8px;
background:red;
border-radius:50%;
position:absolute;
top:-3px;
right:-3px;
}

.profile img{
width:45px;
height:45px;
border-radius:50%;
object-fit:cover;
}

/* PAGE TITLE */

.page-title{
margin-bottom:30px;
}

.page-title h1{
font-size:42px;
margin-bottom:8px;
}

.page-title p{
color:#666;
font-size:16px;
}

/* GRID */

.content-grid{
display:grid;
grid-template-columns:2fr 1fr;
gap:30px;
}

/* LEFT PANEL */

.left-panel{
display:flex;
flex-direction:column;
gap:25px;
}

/* UPLOAD BOX */

.upload-box{
background:white;
border:2px dashed #888;
border-radius:18px;
height:430px;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}

.upload-content h2{
font-size:42px;
margin:20px 0 10px;
}

.upload-content p{
color:#666;
margin-bottom:35px;
}

.upload-icon{
font-size:50px;
}

.browse-btn{
background:white;
padding:15px 35px;
border-radius:18px;
border:1px solid #222;
font-weight:600;
cursor:pointer;
display:inline-block;
box-shadow:0 5px 10px rgba(0,0,0,0.08);
}

.browse-btn input{
display:none;
}

/* AI CARD */

.ai-card{
background:#dfe9f7;
padding:25px;
border-radius:16px;
}

.ai-header h3{
color:#005fd6;
margin-bottom:5px;
}

.ai-header p{
color:#555;
margin-bottom:20px;
}

.analyze-btn{
width:100%;
padding:18px;
background:#005fd6;
color:white;
border:none;
border-radius:14px;
font-size:18px;
font-weight:600;
cursor:pointer;
margin-bottom:20px;
}

.status-row{
display:flex;
justify-content:space-between;
font-size:14px;
margin-bottom:10px;
}

.progress-bar{
width:100%;
height:8px;
background:#cfd5df;
border-radius:10px;
overflow:hidden;
margin-bottom:12px;
}

.progress{
width:0%;
height:100%;
background:#005fd6;
}

.ai-card small{
color:#666;
}

/* RIGHT PANEL */

.right-panel{
display:flex;
flex-direction:column;
gap:20px;
}

/* PATIENT CARD */

.patient-card{
background:white;
padding:25px;
border-radius:16px;
border:1px solid #ddd;
}

.patient-card h3{
margin-bottom:25px;
}

.input-group{
margin-bottom:18px;
}

.input-group label{
display:block;
font-size:13px;
font-weight:600;
margin-bottom:8px;
color:#666;
}

.input-group input,
textarea{
width:100%;
padding:14px;
border-radius:10px;
border:1px solid #ddd;
outline:none;
background:#f8f8f8;
}

.row{
display:flex;
gap:15px;
}

textarea{
height:100px;
resize:none;
}

/* EYE BUTTONS */

.eye-buttons{
display:flex;
gap:10px;
}

.eye-buttons button{
flex:1;
padding:12px;
border:none;
border-radius:10px;
background:#eef1f5;
cursor:pointer;
}

/* NOTICE CARD */

.notice-card{
background:#fff8e7;
border-left:5px solid orange;
padding:20px;
border-radius:12px;
}

.notice-card h4{
margin-bottom:10px;
color:#a65b00;
}

.notice-card p{
font-size:14px;
line-height:1.5;
color:#7a5a28;
}